<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCCIIT PDA | Developers</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-50 flex items-center justify-center min-h-screen">
<div class="bg-white p-8 shadow-sm rounded-lg text-center max-w-md">
    <h2 class="text-xl font-semibold text-gray-800 mb-4">
        RCCIIT PDA | Developers
    </h2>
    <ul class="space-y-1 text-gray-600">
        <li>Manas Ghosh - Guide</li>
        <li>Monodipta Maity, MCA'25</li>
        <li>Saheli Deb, MCA'25</li>
        <li>Tiasha Hait, MCA'25</li>
        <li>Vivek Dey, MCA'25</li>
    </ul>
</div>
</body>
</html>
