<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RCCIIT PDA | Devs</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="bg-gradient-to-r from-purple-400 to-purple-600 flex items-center justify-center min-h-screen">
        <div class="bg-white p-10 shadow-2xl text-center max-w-2xl">
            <h2 class="text-3xl font-extrabold text-purple-900 mb-6 border-b-4 border-purple-500 inline-block px-4 py-2">
                RCCIIT PDA | Developers
            </h2>
            <ul class="space-y-4 text-purple-700 font-semibold">
                <li class="bg-blue-100 border-l-4 border-blue-500 py-2 px-4 text-blue-700 font-bold">Manas Ghosh - Guide</li>
                <li class="bg-purple-100 border-l-4 border-purple-500 py-2 px-4">Monodipta Maity, MCA'25</li>
                <li class="bg-purple-100 border-l-4 border-purple-500 py-2 px-4">Saheli Deb, MCA'25</li>
                <li class="bg-purple-100 border-l-4 border-purple-500 py-2 px-4">Tiasha Hait, MCA'25</li>
                <li class="bg-purple-100 border-l-4 border-purple-500 py-2 px-4">Vivek Dey, MCA'25</li>
            </ul>
        </div>
    </body>
</html>
